/PI02 Data Analyst.pbix
/PI02 - Data Analytics.pdf
/Penetracion_por Hogares_Nacional_Fijo.csv
/Penetracion_fijo_por_cada_100_Hogares.csv
/Listadodelocalidadesconconectividadainternet.csv
/LIENZO POYECTO INDIVIDUAL DATA ANALYST.jpg
/Internet_Ingresos.csv
/Internet_Accesos-por-velocidad.csv
/Internet_Accesos-por-velocidad_por_Prov.csv
/Internet_Accesos-por-tecnologia.csv
/Internet_Accesos-por-tecnologia_por_Prov.csv
/Internet_Accesos_BAF.csv
/Internet_Acceso_BAF_Por_Prov.csv
/Ingresos_trimestrales_telefonía móvil.csv
/historico_velocidad_internet.csv
/historico_velocidad_internet_por_Prov.csv
/AccesosaInternetfijoportecnologiaylocalidad.csv
/AccesosaInternetfijoporvelocidadbajadayprovincia.csv
/AccesosaInternetfijoporvelocidaddebajadaylocalidad.csv
/ConectividadalserviciodeInternet.csv